body {
  /*color: #fff;*/
  background-color: #EBEFF1;
  font-family: 'Roboto', sans-serif;
  font-family: 'Noto Sans', sans-serif;

}

nav li {
  height: 15px;
  float: right;
}

a, a:link, a:active {
  text-decoration: none;
  color: #fff;
}

#logo {
  height: 50px;
  border-radius: 50%;
}
