body {
  /*color: #fff;*/
  background-color: #EBEFF1;
  font-family: 'Roboto', sans-serif;
  font-family: 'Noto Sans', sans-serif;

}

#logo {
  height: 50px;
  border-radius: 50%;
  position: absolute;
}

#row {
  background-color: #EBEFF1;
}

ul {
    list-style-type: none;
    height: 50px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0288D1;
}

li {
    float: right;
    height: 50px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #03A9F4;
    height: 50px;
}
