@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cj1oqq');
  src:  url('fonts/icomoon.eot?cj1oqq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cj1oqq') format('truetype'),
    url('fonts/icomoon.woff?cj1oqq') format('woff'),
    url('fonts/icomoon.svg?cj1oqq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-user:before {
  content: "\e971";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-radio-checked:before {
  content: "\ea54";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
.icon-github:before {
  content: "\eab0";
}
.icon-safari:before {
  content: "\eadd";
}

