#mainHeader {
  background-color: #0288D1;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  height: 50px;
}

main {
  width: auto;
}


footer {
  background-color: #0288D1;
  color: #fff;
  text-align: center;
  height: 50px;
  width: 100%;
  position: absolute;
}

#filtersPage {
  background-color: #fff;
  color: black;
  margin: 10%;
  padding: 5% 0;
}

#permitTypeForm {
  background-color: #B3E5FC;
}

#permitStatusForm {
  background-color: #B3E5FC;
}

#mapBox {
  margin: 10%;
  padding: 25% 0;
}

/*#infoBox {
  background-color: #fff;
  margin: 10%;
  padding: 15% 0;
}*/
