header {
  background-color: #0288D1;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  height: 50px;
}

main {
  width: auto;
  height: 450px;
}


footer {
  background-color: #0288D1;
  text-align: center;
  height: 50px;
}

#mapWindow {
  margin: 10%;
  padding: 25% 0;
  border: 10px solid green;
}

#infoBox {
  background-color: #fff;
  margin: 10%;
  padding: 15% 0;
}
